.cor-nav{
    background-color: #a4eba4;
}

.tam-carousel{
    height: 300px;
}
.borda-cinza{
    border-color: gray;
}

.font-size-1{
    font-size: 1.5rem;
}
.tam-disc-foto{
    height: 200;
    width: 400;
}
.bg-footer{
    background-color: #f2f2f2;
}